{% extends "base.html" %}
{% block title %}Пост{% endblock %}
{% block header %}Пост пользователя{% endblock %}
{% block content %}      

<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                {% include "posts/follow_and_author_info.html" %}
            </div>
        </div>
        <div class="col-md-9">
            <!-- Пост -->  
            {% include "posts/post_item.html" with post=post %}
            {% include "posts/comments.html" %}
        </div>
    </div>
</main> 
{% endblock %}